extends layout 

block main 
  div.add-coffee-form-wrapper  
    form(action='/coffees/' method='get')
      button.back Back
    form(action="/coffees/add/"  method='post')
      div.add-coffee-form
        div
          label Coffee Name
            input.input-form(type="text" name="coffeeName" value=coffee.name)
        div
          label Roaster
            input.input-form(type="text" name="roasterName")
        div
          label Country
            input.input-form(type="text" name="countryOfOrigin")
        div
          label Region
            input.input-form(type="text" name="regionOfOrigin")
        div
          label Process
            input.input-form(type="text" name="process")
        div
          label Price per Bag 
            input.input-form(type="number" step="0.01" min="0" name="bagPrice")
        div
          label Description 
            textarea.input-form(name="description")
        div
          //- input(type="submit" value="Save Coffee")
          button.add Save Coffee
