extends layout

block main 
  div.add-coffee-form-wrapper
    form(action=`/coffees/${coffeeId}/add-brew` method='post')
      div.add-coffee-form
        div.form-element
          label Method 
            input(type="text" name="method")
        div.form-element
          label Description
            input(type="text" name="description")
        div.form-element
          button Save Brew
    form(action="/coffees" method="get")
      button(type="submit") Cancel