extends layout

block main 
  div.add-coffee-form-wrapper
    form(action=`/coffees/${coffeeId}/add-brew` method='post')
      div.add-coffee-form
        div
          label Method 
            input.input-form(type="text" name="method")
        div
          label Description
            input.input-form(type="text" name="description")
        div
          button Save Brew
      form(action="/coffees" method="get")
        button(type="submit") Cancel