extends layout

block main
  div.signin-signup
    form#submit-signin.submit-signin-signup(action=`/users/signin` method="post" )
      dl
        dt
          label(for="username") Username:
        dd
          input.input-form(type="text" name="username" placeholder="username" value=username)

        dt
          label(for="password") Password:
        dd
          input.input-form(type="password" name="password" placeholder="password")
    form.left-button
      button(form='submit-signin' ) Sign in
    form.right-button(action='/users/signup' method='get')
      button Sign up!
   

block signIn
