body {
  background-color: rgb(255, 227, 174);
  height: 100vh;
}

header {
  min-height: 10%;
}

header h1 {
  font-size: 7em;
}

h1 {
  font-size: 2em;
}

h2{
  font-size: 1.5em;
}

.container {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  background-color: aliceblue;
  min-height: 100%;
}


.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.coffee-card, .brew-card {
  border: solid;
  border-radius: 0.75em;
  margin: 0.2em;
  padding: 0.2em;
  background-color: white;
  padding: 1em;
}

.coffee-card-wrapper {
  display: flex;
  flex-direction: column;
  justify-items: center;
  max-width: 60%;
  margin: 0 auto;
  min-height: 500px;
}

.coffee-header {
  min-width: 60%;
}

.add-coffee-form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

}


.coffee-card span {
  font-size: 1.5em;
  margin: .5em;
}

.coffee-card a:hover {
  color: rgb(255, 127, 127)
}

.flash {
  background-color: #b7fdff;
  color: #393939;
  margin: 20px 0 1.5rem;
  max-width: 1000px;
  padding: 10px 20px;
  border-radius: 5px;
}

.flash p {
  font-size: 14px;
  font-weight: bold;
}

.flash.error {
  background-color: #ffcfbf;
  color: #ff6633;
}

.flash.success {
  background-color: #cbf2e5;
  color: #33cc99;
}

button {
  align-items: center;
  background-clip: padding-box;
  background-color: rgb(255, 127, 127);
  border: 1px solid transparent;
  border-radius: .75em;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: .25em;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}



button:hover,
button:focus {
  background-color: rgb(227, 113, 113);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

button:hover {
  transform: translateY(-1px);
}

button:active {
  background-color: rgb(253, 106, 106);
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}

.signin-signup {
  display: grid;
  grid-template-areas:
    "form form"
    "left right";
  grid-template-columns: 1fr 1fr;
  width: 60%;
  padding-left: 1em;
  padding-right: 1em;
  align-items: center;
  justify-items: center;
}

.submit-signin-signup {
  grid-area: form;
  justify-content: center;
  width: 100%;
}

.left-button {
  grid-area: left;
}

.right-button {
  grid-area: right;
}

.input-form{
  width: 100%;
  padding: 0.5rem 0.75rem;
  margin: .25em 0 1em 0;
  font-size: 1rem;
  line-height: 1.25;
  color: #495057;
  background-color: #fff;
  background-image: none;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s; 
}

.coffee-card td {
  font-family: Arial, Helvetica, sans-serif;
  color: #495057;
}

.coffee-card table {
  border-collapse: collapse;
  width: 100%;
}
.coffee-card th,
.coffee-card td {
  text-align: left;
  padding: 10px;
}
.coffee-card tr:nth-child(even) {
  background-color: #f0f0f0;
}
.coffee-card tr:nth-child(odd) {
  background-color: #ffffff;
}